#Set up our dynamic library
useDynLib(network, .registration = TRUE)

#Import some required symbols
import(utils)

#Export everything except symbols that start with '.' or end with '_R'.
exportPattern("^[^\\.].*[^_][^R]$") 
